input {
  font-family: sans-serif;
}
body {
  background: grey;
  color: white;

}
div.user {
  font-size: 1.5em;
  font-weight: bold;
}

.easyCenter {
  margin-top: 12%;
  margin-right: auto;
  margin-left: auto;
  display: table;
}

.container {
  height: 100%;
  width: 100%;
}
.center {
  margin-left: 25%;
  margin-right: 25%;
  position: fixed;
  width: 50%;
  overflow: scroll;
}

.error {
  color: red;
  background-color: yellow;
  border: 1px solid black;
}
.full {
  width: 100%;
}
.userPage {
  height: 100%;
  width: 100%;
}
  .header {
    top: 2%;
    height: 5%;
    width: 50%;
  }
    .user {
      float: left;
    }
    .dailyCalories {
      float: right;
    }
  .addEntry {
    top: 7%;
    height: 20%;
    width: 50%;
  }
    .datetime {
      float: left;
    }
    .calories {
      left: 37.5%;
      width: 20%;
      position: absolute;
    }
    .comments {
      left: 65%;
      width: 34%;
      position: absolute;
    }
  .filter {
    top: 26%;
    height: 20%;
    width: 50%;
  }
    .date {
      float:left;
    }
    .time {
      /*float: right;*/
      margin-left: 40%;
    }

  .content {
    top: 44%;
    bottom: 5%;
  }

.under {
  color: red;
}
.over {
  color: green;
}
.createAcct {
  cursor: pointer;
  font-size: 80%;
}
.editForm {
  /*float: right;*/
      margin-left: 25%;
      position: absolute;
      /*float: left;*/
}
.listItem {
  /*width: 30%;*/
  display: table;
}
