input {
  font-family: sans-serif;
}
body {
  background: grey;
  color: white;
}
.center {
  margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
}

.error {
  color: red;
  background-color: yellow;
  border: 1px solid black;
}
.full {
  width: 100%;
}
.userPage {
  height: 100%;
  width: 100%;
 /* margin-left: auto;
  margin-right: auto;*/
/*  padding-left: 20%;
  padding-right: 20%;*/
}
  .header {
    height: 10%;
    width: 50%;
    position: absolute;
  }
    .user {
      float: left;
    }
    .dailyCalories {
      float: right;
    }
  .filter {
    top: 25%;
    position: absolute;
    height: 10%;
    width: 50%;
  }
    .date {
      float:left;
    }
    .time {
      float: right;
      /*right:0;*/
    }
  .addEntry {
    top: 10%;
    height: 10%;
    width: 50%;
    position: absolute;
  }
    .datetime {
      float: left;
    }
    .calories {
      left: 50%;
      width: 100%;
      position: absolute;
    }
    .comments {
      left: 75%;
      position: absolute;
    }
  .content {
    top: 40%;
    bottom: 0;
    width: 50%;
    position: absolute;
    overflow: auto;
  }

.under {
  color: red;
}
.over {
  color: green;
}
.center {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.createAcct {
  cursor: pointer;
  font-size: 80%;
}
