input {
  font-family: sans-serif;
}
body {
  background: grey;
  color: white;
}
.center {
  margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
}

.error {
  color: red;
  background-color: yellow;
  border: 1px solid black;
}
.full {
  width: 100%;
}
.container {
  height: 100%;
  width: 100%;
}
  .header {
    height: 10%;
    /*position: absolute;*/
  }
    .user {
      float: left;
    }
    .dailyCalories {
      float: right;
    }
  .addEntry {
    top: 10%;
    height: 10%;
    position: absolute;
  }
    .datetime {
      float: left;
    }
    .calories {
      left: 150%;
      width: 100%;
      position: absolute;
    }
    .comments {
      left: 300%;
      position: absolute;
    }
  .content {
    top: 22%;
    bottom: 0;
    width: 100%;
    position: absolute;
    overflow: auto;
  }
