<form class="center" ng-submit="createUser(id, pass, confPass)">
  <label>User ID:</label><br>
  <input type="text" placeholder="User ID" ng-model="id"> <br><br>
  <label>Password:</label><br>
  <input type="password" placeholder="Password" ng-model="pass"> <br><br>
  <label>Confirm Password:</label><br>
  <input type="password" placeholder="Confirm Password" ng-model="confPass"> <br><br>
  <div class="error" ng-show="incorrectPass">
    <span >Incorrect password, {{flash}}!</span>
  </div>
  <br ng-show="incorrectPass"><br ng-show="incorrectPass">
  <input type="submit">
</form>
