<form class="center" ng-submit="createUser(id, pass, confPass, expectedCalories)">
  <label>User ID:</label><br>
  <input type="text" placeholder="User ID" ng-model="id"> <br><br>
  <label>Password:</label><br>
  <input type="password" placeholder="Password" ng-model="pass"> <br><br>
  <label>Confirm Password:</label><br>
  <input type="password" placeholder="Confirm Password" ng-model="confPass"> <br><br>
  <label>Expected Number of Daily Calories:</label><br>
  <input type="number" placeholder="ex. 2000" ng-model="expectedCalories"> <br><br>
  <input type="submit">
  <br ng-show="userExists">
  <br ng-show="userExists">

  <div class="error" ng-show="userExists">
    <span>User already exists!</span>
  </div>
</form>
