<!-- Page header -->
<div class="header center">
  <div class="user">{{user}}</div>
  <div class="dailyCalories">Expected Number of Daily Calories:
    <span id="dailyCalories">{{expectedCalories}}<span>
  </div>
</div>
<!-- Add a new entry -->
<div class="addEntry center">
  <form ng-submit="saveEntry(calories, comments, date, time)" name="addEntry">
    <label class="addDate">Date: </label>
    <label class="addtime">Time: </label>
    <label class="calories">Number of Calories: </label>
    <label class="comments">Text:</label>
    <br>
    <input type="date" placeholder="date" ng-model="date" class="addDate" required>
    <input type="time" placeholder="time" ng-model="time" class="addTime" required>

    <input type="number" placeholder="Number of Calories" min=0 ng-model="calories" class="calories" required>
    <textarea id="comment" placeholder="Text" ng-model="comments" class="comments" required> </textarea>

    <br ng-show="incorrectPass"><br ng-show="incorrectPass">
    <br><br>
    <input type="submit" value="Save Entry">
  </form>
</div>
<!-- Date and time filters -->
<div class="filter center">
  <form>
    <label class="date">Filter Date </label>
    <input type="checkbox" name="checkDate" value="dateCheck" ng-model="checkDate">
    <input class="time" type="checkbox" name="checkTime" value="timeCheck" ng-model="checkTime">
    <label class="time">Filter Time</label>
    <br>
    <label class="date">From: </label>
    <input  class="date" type="date" placeholder="datetime" ng-model="dateFrom" >
    <input class="time" type="time" placeholder="datetime" ng-model="timeFrom" >
    <label class="time">From: </label> <br>
    <input class="time" type="time" placeholder="datetime" ng-model="timeTo">
    <label class="date">To: </label>
    <input  class="date" type="date" placeholder="datetime" ng-model="dateTo" >
    <label class="time">To: </label> <br>
  </form>
</div>
<!-- NG-REPEAT of CALORIES -->
<div class="content center">
  <div ng-repeat="entry in userEntries |  dateFilter:dateFrom:dateTo:checkDate | timeFilter:timeFrom:timeTo:checkTime">
    <form id="editForm" class="editForm" ng-show="editing(entry)" ng-submit="updateEntry(entry, editCalories, editText, editDate, editTime)">
      <label>Date: </label> <br>
      <input type="date" placeholder="date" ng-model="editDate" required>
      <br>
      <br>
      <label>Time: </label> <br>
      <input type="time" placeholder="time" ng-model="editTime" required>
      <br>
      <br>
      <label>Number of Calories: </label> <br>
      <input type="number" placeholder="Number of Calories" min=0 ng-model="editCalories" required> <br>
      <br>
      <label >Text:</label><br>
      <textarea id="comment" placeholder="Text" ng-model="editText" required> </textarea><br>
      <input type="submit" value="Save Entry" ng-show="editing(entry)"></input type="button">

    </form>
    <div>
      <label>Date: </label>
      <div>{{dateFormat(entry.date)}}</div>
      <br>
      <label>Time: </label>
      <div>{{timeFormat(entry.time)}}</div>
      <br>
      <label >Number of Calories: </label>
      <div>{{entry.calories}}</div>
      <br>
      <label >Text:</label>
      <div>{{entry.text}}</div>
    </div>

    <input type="button" ng-click="editEntry(entry)" value="Edit Entry" ng-hide="editing(entry)"></input type="button">
    <input type="button" ng-click="closeEdit(entry)" value="Close Edit" ng-show="editing(entry)"></input type="button">
    <input type="button" ng-click="deleteEntry(entry)" value="Delete Entry"></input type="button">
    <br><br><br><br>
  </div>
</div>
